@font-face {
    font-family: 'alpaca';
    src: url('font/alpaca_scarlett_demo-webfont.woff2') format('woff2'),
         url('font/alpaca_scarlett_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


$s: 7.2 ;

$border : black;

$imgUp_BG_Color: #f2dfdf;
$imgUp_BD_Color: #67094b;
$imgUP-file:	"img/upload.png";
$alertColor: rgb(255, 232, 164);

$headerLineHeight : 28px;
$headerLineFontSize : 15px;

$loadingMask_Color : rgba(54, 61, 68, 0.48);

.container.i-form{
	padding-top: 12px;
}
.format-info{
	background-color: #d8e5f1;
    padding: 11px;
    border-radius: 6px;
}
.alert-camp{
	background-color: $alertColor;
    padding: 11px;
    border-radius: 6px;
    font-size:12px;
	margin: 6px 0px 0px;	
}

.button-row{
	margin-top: 20px;
	margin-bottom: 50px;
}

label{
	cursor:pointer;
}
.if-field-error{
    background-color: rgba(226, 177, 177, 0.68);
    margin: 4px -8px;
    padding: 1px 8px;
    border-radius: 6px;
}

.i-validator-msg{
	font-size: 11px;
    padding: 3px 6px;
}

p.if-opening-text{
	padding: 2px 4px 8px !important; 
	font-size: 16px !important;
}

#if-full-error{
	position: fixed;
    width: 100%;
    height: 100%;
    background-color: lighten($loadingMask_Color, 30%);
    z-index: 10;

    #wrong-device{
    	width: 300px;
    	height: 260px;
    	background-color: $alertColor;
    	position: relative;
    	top : 50%;
    	left: 50%;
    	margin-left: -(300px)/2;
    	margin-top: -(260px)/2;
    	text-align: center;
    	padding: 4%;
    	font-size: 14px;
    	border-radius: 10px;
    }

      &.if-hide {
    	display: none;
 	}
}

#if-loading{
	position: fixed;
    width: 100%;
    height: 100%;
    background-color: $loadingMask_Color;
    z-index: 10;


    #loading-box{
    	width: 80px*$s;
    	height: 40px*$s;
    	background-color: white;
    	position: relative;
    	top : 50%;
    	left: 50%;
    	margin-left: -(80px*$s)/2;
    	margin-top: -(64px*$s)/2;
    	text-align: center;
    	padding-top: 4px;
    	font-size: 24px;
    	border-radius: 10px;
    }
	#progressBar{
		left: 25%;
		width: 50%;
		margin: 5% 0;
	}

    &.if-hide {
    	display: none;
 	}

}

.i-form.container{
	width: 100px*$s
}

#i-form{
	.if-image-container{
		overflow:hidden;
	}

	img.if-up-image{
		position: absolute;
		z-index:-1;
		max-width:none;
		max-height:none;
	}

	label{
		z-index:1;
		opacity:1;
		// width: 150px;
		height: 160px;
		border: 1px dashed $imgUp_BD_Color;
		background : $imgUp_BG_Color url($imgUP-file) no-repeat center center;
		cursor: pointer;
		border-radius: 6px;

		&:hover{
			background-color : lighten($imgUp_BG_Color, 2);
		}

		&.if-file-loaded{
			opacity:0.01;

			&:hover{
				opacity:1;
				background : transparent url($imgUP-file) no-repeat center center;
			}
		}


	}
	
	input[type=file] {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
	}


	*{
		// border: 1px solid $border;
	}

	.trend-ribbon-right{
		font-family: alpaca, sans-serif;
    	font-size: 22px;
    	letter-spacing: 1px;

		&:before{
		    right: 4%;
		    z-index: -1;
		}
	}


	#if-header-title{
		width: 95%;
		input {
			width: 100%;
			padding-left: 12px;
		}
	}

	.if-header-line{
		width: 100%;
		height: $headerLineHeight;
		margin: 2px 0px;
		border: none;
		font-size: $headerLineFontSize;
	}

	#if-header-contact{
		select{
			background: none;
			width: 100%;
			border: none;
			height: $headerLineHeight;
    		font-size: $headerLineFontSize;
		}
	}

	.if-header-area {
	    width: 100%;
	    border: none;
	}

	.if-normal-line{
	    margin: -1px 0px 18px;
	    border: none;
	    box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.21) inset;
		width: 100%;
		height: $headerLineHeight;
		font-size: $headerLineFontSize;
	}
}

	.ribbon-container{
		max-width: 90%;
		max-height: 32px;
		box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.3);
		position: relative;
		transition: max-width .2s;
		margin: 0px auto;
		display: block;
		width: auto;
		text-align: center;
		
		.trend-ribbon{
			
			&:after{
				z-index : -3
			}
			&:before{
				z-index : -3
			}
		}

	}


//////////////////////////////////
/// FIRST FORM 
//////////////////////////////////

#if-first-form{
	#if-tipo-anuncio{
		input{
			display: inline-block;
			margin: 8px;
			cursor:pointer;
		}
		span{
			text-align : center;
			display: block;
		}
	}

	#if-cat-anuncio{
		div.cat-bar{
			padding: 4px 10px 0 0;
		}

		input{
			margin: 10px;
			cursor:pointer;
		}

		label{
			font-family: alpaca;
			font-size: 20px;
			letter-spacing: 1px;
			color: white;
			cursor:pointer;
		}

		img{
			float:right;
			margin: 6px;
		}
		p{
			padding: 8px 10px 10px;
			font-size: 12px;
		}
	}

	#if-labels-anuncio{
		input{
			margin: 10px;
			cursor:pointer;
		}
	}
}


//////////////////////////////////
/// LOGIN FORM 
//////////////////////////////////

#login-form{
	.if-normal-line{
	    margin: -1px 0px 18px;
	    border: none;
	    box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.21) inset;
		width: 100%;
		height: $headerLineHeight;
		font-size: $headerLineFontSize;
	}
}


//////////////////////////////////
/// MAIN FORM 
//////////////////////////////////


#i-form{
	#anuncio-print{
		border: 12px solid white;
   		box-shadow: -1px 3px 8px rgba(0, 0, 0, 0.58);
   		padding-left: 14px;
	    border-right-width: 3px;
	    border-bottom-width: 35px;
	    border-left-width: 19px;
	    margin-bottom: 20px;
	    border-radius: 2px;
	}

.if-image-loader{
	padding: 0;
	overflow:hidden;
	border-radius:6px;

	label {
		width: 100%;
		// height:100%;
	}

	&.col-xs-12{
		height:240px;

		label{
			height:240px;
		}
	}
}
.main-img{
	margin-top:16px;

	&.doble-image-area{
		.if-image-loader{
			&.col-xs-12{
				height:2*240px;

				label{
					height:2*240px;
				}
			}
		}
	}
}

.sec-img{
	margin-bottom:16px;
	.if-image-loader{
		&.col-xs-12{
			height:180px;

			label{
				height:180px;
			}
		}
	}

}

	#if-body{
		margin-top:15px;
		margin-left:-15px;
		
		textarea{
			font-size: $headerLineFontSize;
		}

		#if-body-langA{
			font-weight : bold;
		}
	}
}


//////////////////////////////////
/// CONFIMR FORM 
//////////////////////////////////

#confirm-summ{
	border: 12px solid white;
	box-shadow: -1px 3px 8px rgba(0, 0, 0, 0.58);
	padding-left: 14px;
    border-right-width: 20px;
    border-bottom-width: 35px;
    border-left-width: 19px;
    margin-bottom: 20px;
    border-radius: 2px;		

    h3{
	   	background-color: #A06CBE!important;
	    color: white;
	    padding: 4px;
    }

    h4{
    	font-weight:bold;
    }

    .summ-dataline{

    }
}

#if-thumbs{
	div{
		height: 80px;
		overflow:hidden;
		margin-bottom: 20px;
	}
	.logo{
		width: 150px;
		height: 150px;
		margin-left:15px;

		img{
			width: 100%;
			height: auto;
		}
	}
}

#if-map-thumbs{
	img{
		margin: 4px 0;
	}
}

.if-normal-area {
	    width: 100%;
	    border: none;
	     box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.21) inset;
	}

.if-field-check{
	font-size: 22px;
	    margin: 20px;
}